body {
	background-color: var(--mcyellow);

	#navbar {
		.educationa {	
		color: var(--mcorange);

		text-decoration: underline;
		}
	}
	
	.containerdiv {
		width: 100%;

		.griddiv {
		width: 100%;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr);
		gap: 8px;

		.div1 {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 2;

			background-color: azure;
		}
		
		.div2 {
			grid-column: span 2 / span 2;

			background-color: azure;
		}
		
		.div3 {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 2;
			grid-row-end: 5;
			

			background-color: azure;
		}
		
		.div4 {
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 2;
			grid-row-end: 4;

			background-color: azure;
		}
		
		.div5 {
			grid-column: span 3 / span 3;
			grid-column-start: 2;
			grid-row-start: 4;

			background-color: azure;
		}

		.div6 {
			
		}
			 
		}
	}
	

}

