/* fonts */
@font-face {
	font-family: Minecraft;
	src: url('res/font/minecraftregular.otf');
}
@font-face {
	font-family: Minecraft;
	font-weight: bold;
	src: url('res/font/minecraftbold.otf');
}
@font-face {
	font-family: Minecraft;
	font-style: italic;
	src: url('res/font/minecraftitalic.otf');
}
@font-face {
	font-family: Minecraft;
	src: url('res/font/minecraftbolditalic.otf');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: Minecraften;
	src: url('res/font/minecraft-ten-font/MinecraftTen-VGORe.ttf');
}
:root {
	--mcgray: #393E46;
	--mcblack: #222831;
	--mcyellow: #e4964e;
	--mcbgtag: #C0111111;
	--mclblue: #375b94;
	--mcdblue: #233858;
}

/* Should be on other sites */
.mainbody {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 0 10px;
}

.maindiv {
	width: 100%;
	max-width: 1800px;
	margin: 18px;
}
/* to here */

body {
	min-height: 100vh;
	min-height: 100dvh;
	background-color: var(--mcyellow);

	h1 {
		font-family: 'Minecraften';
	} 
	p 
	{
		font-family: 'Minecraft';
	}

	.griddiv {
		height: 32em;

		display: grid;
		gap: 1.5rem;
		grid-template-columns: 1fr 1fr 1fr ;
		
		align-self: center;
		margin-bottom: -60px;

		.avatardiv {
			/* background-color: var(--mcblack); */

			color: var(--mcyellow);
			grid-column-start: 1;
			grid-column-end: 2;
			max-height: 350px;

			display: flex;
			justify-content: right;
			align-items: center;

			img {
				width: 30vw;
				min-width: 400px;
				max-width: 470px;
				height: auto;

				margin-top: 130px;

				aspect-ratio: 1/1;
				box-shadow: 14px 14px 1px var(--mcblack);
				border-radius: 30px;
			}
		}
		.avatardescriptiondiv {
			/* background-color: var(--mcblack); */

			color: var(--mcblack);
			grid-column-start: 2;
			grid-column-end: 4;
			max-height: 350px;

			h1 {
				font-size: 5.3rem;
				margin-bottom: 20px;
			}
			h2 {
				
			}
			p {
				margin-top: 2px;
				margin-left: 5px;
				font-size: 1.4rem;
			}
		}
		
	}

	.linksdiv {
				justify-self: center;

				display: flex;
				align-items: center;

				a{
					margin: 5px;
				}

				button {
					background-color: var(--mcblack);
					color: var(--mcyellow);
					height: 30px;
					padding: 0px 10px;

					border-radius: 20px;

					justify-self: center;

					display: flex;
					align-items: center;

					i {
							margin-right: 5px;
						}
					}
				}
	}
	
	.abouttitlecontainer {
		margin-top: 10px;
		display: flex;
		justify-content: center;

		.aboutheader1 {
			background-color: var(--mcblack);

			width: 20em;
			height: 3em;

			border-radius: 10px 10px 0px 0px;

			h1 {
				margin-top: 4px;
				text-align: center;
				color: var(--mcyellow);
			}
		}

	}

	.aboutbg {
		background-color: var(--mcblack);
		height: fit-content;
		width: 100vw;
		justify-self: center;
		
		.aboutconstraint {
			width: 100%;
			max-width: 1800px;
			justify-self: center;
			padding: 25px;

			display: flex;
			justify-content: center;

			.aboutgrid {
				display: grid;
				width: 1500px;
				grid-template-columns: repeat(6, 1fr);
				grid-template-rows: repeat(4, 180px);
				gap: 8px;

				div {
					border-radius: 10px;
					padding: 4px;
				}

				.g1 {
					background-color: var(--mcyellow);
						
					grid-column-start: 1;
					grid-column-end: 5;
					grid-row-start: 1;
					grid-row-end: 2;

					color: #393E46;
				}
				.g3 {
					background-color: chocolate;

					grid-column-start: 1;
					grid-column-end: 3;
					grid-row-start: 2;
					grid-row-end: 3;
				}
				.g4 {
					background-color: var(--mcblack);

					grid-column-start: 3;
					grid-column-end: 5;
					grid-row-start: 2;
					grid-row-end: 4;

					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					.gitpfp {
						width: 14vw;
						max-width: 100px;
						border-radius: 50%;
					}
					p {
						margin-top: 6px;
						color: var(--mcyellow);
						font-style: italic;
						font-size: 2rem;
						text-shadow: 4px 2px var(--mcgray);
					}
				}
				.g5 {
					background-color: azure;

					grid-column-start: 5;
					grid-column-end: 7;
					grid-row-start: 1;
					grid-row-end: 4;
				}
				.g6 {
					background-color: #233858;

					grid-column-start: 1;
					grid-column-end: 3;
					grid-row-start: 3;
					grid-row-end: 5;
				}
				.g8 {
					background-color: #393E46;

					grid-column-start: 3;
					grid-column-end: 7;
					grid-row-start: 4;
					grid-row-end: 5;
				}
			}
		}
	}


@media screen and (max-width: 860px) {
	body {
		min-height: auto;
		background-color: var(--mcyellow);
		.griddiv {
			/* background-color: aliceblue; */

			height: auto;

			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1.5rem;
			
			align-self: center;
			margin-bottom: 0px;

			.avatardiv {
				/* background-color: var(--mcblack); */

				color: var(--mcyellow);

				display: flex;
				justify-content: right;
				align-items: center;

				img {
					width: 15em;
					min-width: 30px;
					height: auto;
	
					margin-top: 0px;

					aspect-ratio: 1/1;
					box-shadow: 14px 14px 1px var(--mcblack);
					border-radius: 30px;
				}
			}
			.avatardescriptiondiv {
				/* background-color: var(--mcblack); */

				margin-top: 0px;
				color: var(--mcblack);
				max-height: 350px;
				
				h1 {
					font-size: 3.5rem;

					text-align: center;
				}
				h2 {
					text-align: center;
				}
				p {
					margin-top: 2px;
					font-size: 1.5em;

					text-align: center;
				}
			}
		}
	}
}