/* fonts */
@font-face {
	font-family: Minecraft;
	src: url('res/font/minecraftregular.otf');
}
@font-face {
	font-family: Minecraft;
	font-weight: bold;
	src: url('res/font/minecraftbold.otf');
}
@font-face {
	font-family: Minecraft;
	font-style: italic;
	src: url('res/font/minecraftitalic.otf');
}
@font-face {
	font-family: Minecraft;
	src: url('res/font/minecraftbolditalic.otf');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: Minecraften;
	src: url('res/font/minecraft-ten-font/MinecraftTen-VGORe.ttf');
}
:root {
	--mcgray: #393E46;
	--mcblack: #222831;
	--mcyellow: #e4964e;
	--mcbgtag: #C0111111;
	--mclblue: #375b94;
	--mcdblue: #233858;
}

/* Should be on other sites */
.mainbody {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 0 10px;
}

.maindiv {
	width: 100%;
	max-width: 1800px;
	margin: 18px;
}
/* to here */

body {
	min-height: 100vh;
	min-height: 100dvh;
	background-color: var(--mcyellow);

	h1 {
		font-family: 'Minecraften';
	} 
	p 
	{
		font-family: 'Minecraft';
	}

	.griddiv {

		display: grid;
		align-items: center;
		gap: 1.5rem;
		grid-template-columns: 1fr 1fr 1fr ;
		
		align-self: center;
		margin-bottom: -60px;
		
		min-height: 500px;
		height: 90vh;

		.avatardiv {
			/* background-color: var(--mcblack); */

			color: var(--mcyellow);
			grid-column-start: 1;
			grid-column-end: 2;
			max-height: 350px;

			display: flex;
			justify-content: right;
			align-items: center;

			img {
				width: 30vw;
				min-width: 400px;
				max-width: 470px;
				height: auto;

				aspect-ratio: 1/1;
				box-shadow: 14px 14px 1px var(--mcblack);
				border-radius: 30px;
			}
		}
		.avatardescriptiondiv {
			/* background-color: var(--mcblack); */

			color: var(--mcblack);
			grid-column-start: 2;
			grid-column-end: 4;
			max-height: 350px;

			display: flex;
			flex-direction: column;

			h1 {
				font-size: 5.3rem;
				margin-bottom: 20px;
			}
			h2 {
				
			}
			p {
				margin-top: 2px;
				margin-left: 5px;
				font-size: 1.4rem;
			}

			/* links */

			.linksdiv {
				justify-self: center;

				display: flex;
				align-items: flex-start;
				justify-content: center;

				margin-top: 40px;
				height: 10px;

				a{
					margin: 5px;
				}
				p {
					font-size: 1rem;
				}

				button {
					background-color: var(--mcblack);
					color: var(--mcyellow);
					height: 30px;
					padding: 0px 10px;

					border-radius: 20px;

					justify-self: center;

					display: flex;
					align-items: center;

					i {
							margin-right: 5px;
						}
					}
				}
			}
		}

		.pigdiv {
			width: 100vw;

			padding: 0;

			marquee {
				position: absolute;
				width: 100%;
				bottom: 0;

				display: flex;
			}

			.pigimg {
				width: 100%;
				margin: 0;
				padding: 0;

				object-fit: cover;
				height: 100px;
				width: 200px;

				/* animation: scroll-right 5s linear infinite; */
			}
		}
		.pigdi {
			height: 1200px;
		}
	}

	@keyframes scroll-right {
		0% {
			transform: translateX(-100%);
		}

		100% {
			transform: translateX(100%);
		}
	}


@media screen and (max-width: 860px) {
	body {
		min-height: auto;
		background-color: var(--mcyellow);

		.griddiv {
			/* background-color: aliceblue; */

			height: auto;

			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1.5rem;
			
			align-self: center;
			margin-bottom: 0px;

			.avatardiv {
				/* background-color: var(--mcblack); */

				color: var(--mcyellow);

				display: flex;
				justify-content: right;
				align-items: center;

				img {
					width: 15em;
					min-width: 30px;
					height: auto;
	
					margin-top: 0px;

					aspect-ratio: 1/1;
					box-shadow: 14px 14px 1px var(--mcblack);
					border-radius: 30px;
				}
			}
			.avatardescriptiondiv {
				/* background-color: var(--mcblack); */

				margin-top: 0px;
				color: var(--mcblack);
				max-height: 350px;
				
				h1 {
					font-size: 3.5rem;

					text-align: center;
				}
				h2 {
					text-align: center;
				}
				p {
					margin-top: 2px;
					font-size: 1.5em;

					text-align: center;
				}
			}
		}
	}
}