body {
	/* Bottom */
	.bottombackground {
		position: absolute;
		top: 70px;
		width: 100vw;
		height: auto;
		background-color: var(--mcbackground);
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 200px;
		}

	.techstacktitle {
		background-color: var(--mcyellow);
		width: 800px;
		height: 130px;

		display: flex;
		align-items: center;
		justify-content: center;

        padding-top: 20px;

		z-index: 2;

		border-radius: 0 0 20px 20px;

		h1 {
			font-size: 90px;
			color: var(--mcgray);
			margin-top: -30px;
		}
	}

		.techstackbody{
			margin-top: 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: min(1800px, 100vw);

			.techtitle {
				padding: 20px;
				padding-right: 70px;

				background-color: var(--greenish);
				border-radius: 30px;

				width: fit-content;
				color: var(--mcblack);

				h2 {
					font-size: 20px;
					width: 200px;
				}
			}
			/* Accordion Body */
			.accordion-collapse {
				
				padding-top: 20px;
				p {
					text-align: center;
					color: var(--mctextnav);
					font-size: 25px;
				}
			}
			.tech-stack-grid {
				padding: 20px;
				padding-top: 0;
				width: 100%;

				display: grid;
				grid-template-columns: repeat(auto-fit, min(200px, 10vw));
				gap: 25px;

				justify-content: center;

				.btn {
					background-color: var(--mcbackground);
					border: 0;
				}
				.card {
					background-color: transparent;
					border: 0;

					img {
						object-fit: contain;
						width: 100%;
						height: 100px;
					}
				}
			}
			/* Different Tech Stack Grid Classes */
			.techlanguages {
				width: min(800px, 75%);
				background-color: var(--techcolor);
				border-radius: 30px;
			}

			.techtools {
				margin-top: 20px;
				width: min(800px, 75%);
				background-color: var(--techcolor);
				border-radius: 30px;
			}
		}

		.certificatesbody {
			margin: 20px;
			display: flex;
			flex-direction: row;
			justify-content: center;
			width: min(1800px, 95vw);

			.certificatetitle {
				background-color: var(--greenish);
				height: auto;

				display: flex;
				align-items: center;
				justify-content: center;

				border-radius: 30px 0 0 30px;
				h1 {
					transform: rotate(270deg);
					font-size: min(20px, 3vw);
				}
			}
			.certificatecontents {
				width: min(1350px, 75vw);
				background-color: var(--techcolor);
				padding: 20px;
				border-radius: 0 30px 30px 0;

				.certificategrid {
					display: grid;
					grid-template-columns: repeat(auto-fit, min(400px, 20vw));
					gap: 25px;

					.card {
						background-color: transparent;
						border: 0;

						img {
							width: 100%;
							border-radius: 20px;
						}
					}
				}
			}
		}
	}
@media screen and (max-width: 860px) {
	body {
		overflow-y: scroll;
		min-height: auto;
		padding-bottom: 30px;

		.bottombackground {
            height: auto;

			.techstacktitle {
				width: 100vw;
				border-radius: 0;
				h1 {
					font-size: 10vw;
				}
			}

			.techstackbody {

				.techtitle {

					h2 {
						width: 100px;
					}
				}

				.tech-stack-grid {
					padding: 20px;
					padding-top: 0;
					width: 100%;
	
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));

					.btn {
						background-color: var(--mcbackground);
						border: 0;
					}
				}
			}

			.certificatesbody {
				flex-direction: column;
				
				.certificatetitle {
					display: flex;
					align-items: center;
					justify-content: center;
	
					border-radius: 30px 30px 0 0;
					height: 60px;

					h1 {
						transform: rotate(0deg);
						font-size: 20px;
					}
				}

				.certificatecontents {
					width: 100%;

					border-radius: 0 0 30px 30px;

					.certificategrid {
						display: grid;
						grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
						gap: 25px;
	
						.card {
							img {
								width: 100%;
								border-radius: 20px;
							}
						}
					}
				}
			}

		}
	}
}