/* fonts */
@font-face {
	font-family: Minecraft;
	src: url('res/font/minecraftregular.otf');
}
@font-face {
	font-family: Minecraft;
	font-weight: bold;
	src: url('res/font/minecraftbold.otf');
}
@font-face {
	font-family: Minecraft;
	font-style: italic;
	src: url('res/font/minecraftitalic.otf');
}
@font-face {
	font-family: Minecraft;
	src: url('res/font/minecraftbolditalic.otf');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: Minecraften;
	src: url('res/font/minecraft-ten-font/MinecraftTen-VGORe.ttf');
}
/* colors */
:root {
	--mcgray: #393E46;
	--mcblack: #222831;

	--mcyellow: #e4964e;
    --mcorange:#027B7F;

	--mcbgtag: #C0111111;

	--mctext: #222831;
	--mctexthover: #d6bc8c;
	--mctextnav: #e4964e;
}

body {
	min-height: 100vh;
	min-height: 100dvh;
}

.mainbody {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-top: -100px;

	padding: 0 10px;
}

.maindiv {
	width: 100%;
	max-width: 1800px;
	margin: 18px;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.activesite {
	text-decoration: underline;
	text-shadow: 2px 2px var(--mcblack);
}

h1 {
	font-family: 'Minecraften';
} 
h2 {
	font-family: 'Minecraften';
}
p 
{
	font-family: 'Minecraft';
}
.pigdiv {
	width: 100vw;

	marquee {
		position: absolute;
		width: 100%;
		bottom: 0%;

		display: flex;
	}

	.pigimg {
		width: 100%;
		margin: 0;
		padding: 0;

		object-fit: cover;
		height: 100px;
		width: 200px;

		/* animation: scroll-right 5s linear infinite; */
	}
}